<nav class="navbar navbar-light bg-primary">
  <span><a href="/" class="btn btn-primary">Início</a></span>
  <span>
    <a href="/cadastro" class="btn btn-success">Cadastro</a>
    <a href="/consultas" class="btn btn-success">Consultas</a>
  </span>
</nav>

<style>
  .navbar a {
    margin: 0px 5px;
  }
</style>